//背景色變數
$blue:#11b2d6;
$red:#ef7171;
$green:#8fc256;
$yellow:#dfc75f;


*{
    font-family: Microsoft JhengHei;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }

// Flex 自訂用
.dflex{
    display: flex;
}
.flex_row{
    @extend .dflex;
    flex-direction: row;
}
.flex_col{
    @extend .dflex;
    flex-direction: column;
}
.flex_wrap{
    flex-wrap: wrap;
}
.list_wrapper{
    a{  
        display: block;
        color: #fff;
        margin: .5rem auto;
        border: #fff solid 2px;
        padding: .5rem 0;
        font-size: 18px;
        text-align: center;
        max-width: 300px;
        @include border-radius(15px);
        box-shadow: 0px 1px 2px rgba(153, 153, 153, 0.904);
    }
}
.bg_blue{
    background: $blue;
    &:hover{
        background: #fff;
        color: $blue;
    }
}
.bg_red{
    background: $red;
    &:hover{
        background: #fff;
        color: $red;
    }
}
.bg_green{
    background: $green;
    &:hover{
        background: #fff;
        color: $green;
    }
}
.bg_yellow{
    background: $yellow;
    &:hover{
        background: #fff;
        color: $yellow;
    }
}
.bg_white{
    background: #fff;
}

//內距
.pd20{
    padding: 20px;
}


//線框
.bd1{
    border: 1px solid #eee;
}

//陰影
.shadow{
    box-shadow: #888 0px 0px 5px;
}

